
html
{
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.navbar
{
  
    background:#131313;  /* fallback for old browsers */
    
    width: 100%;
}
.menuitem
{
    position: relative;
    top:25%;
    color: white;

    text-align: center;
    width: 100px
}
.menuitem:hover
{

    color: rgb(170, 170, 170);
}
.container
{
    position: absolute;
    left: 0px;
    width: 100%;
   
}
.researchslots
{
    position: relative;
    top: 300px;
    left : 40%;
    display: grid;
    grid-template-rows: auto auto auto
    
}
.default-button
{
    background:  rgb(37, 37, 37);  /* fallback for old browsers */
    border-radius: 10px;
    width: 250px;
    height: 100px;
    color: white;
    display: grid;
    text-align: center;
    grid-template-rows: 10% 90;
}

.default-button img
{
    position: relative;
    top:5px;
    max-width: 250px;
    max-height: 60px;
    margin-left: auto;
    margin-right: auto;
}
.progress
{
    border-radius: 10px;
    position: absolute;
    width: 200px;
    height: 100%;
    top: 0%;
    background: rgba(51, 2, 66, 0.245);


}
.trainingTree {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .trainingTree-content {
    background-color: #000000;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 90%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

